/*
1. Global styles
2. Reset
3. Typography styles
4. Stractural styles
5. Animations
6. Module styles
    5.1. Navigation
    5.2. Header
    5.3. Footer
    5.4. Projects

====== Color scheme ======
dark: hsla(206, 52%, 15%, 1);
    #12293b
light: hsla(57, 88%, 86%, 1);
    #fbf8bc
accent options:
#871C30
#3B121A
#236A87

========== fonts ==========
Font-Family: 'Ruda', Sans-Serif;
Font-Size: 48px;

Font-Family: 'Roboto Slab', Serif;
Font-Size: 16px;
*/

/* 
==========================
Global styles
==========================
*/
html {
  font-family: "Roboto Slab", Serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: hsl(206, 53%, 15%);
  color: hsl(57, 89%, 86%);
}

/* 
==========================
Reset
==========================
*/
a,
ul,
li,
button {
  all: unset;
}

/* 
==========================
Typography styles
==========================
*/

h1,
h2,
h3,
h4 {
  letter-spacing: 0.05em;
  font-family: "Ruda", Sans-Serif;
  font-size: 2rem;
  margin: 0.5em 0;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
  font-weight: 200;
}

p {
  line-height: 1.5em;
}

li + li::before {
  content: " | ";
  margin: 0em 0.5em;
}

/* 
==========================
Stractural styles
==========================
*/

main {
  width: 90%;
  margin: 0 auto;
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  z-index: 9;
  background-color: hsla(206, 53%, 13%, 0.9);
  justify-content: space-between;
  align-items: center;
}

.dropdown,
#logo {
  margin: 0 1rem;
}

h2 {
  cursor: pointer;
}

article {
  background-color: hsla(208, 100%, 97%, 0.1);
  border-radius: 0px 5px;
  padding: 1rem 1rem 1rem 0.5rem;
  margin: 0.2rem;
}

button:not(#dropdown-btn) {
  background-color: hsl(349, 50%, 42%);
  box-shadow: 0px 2px 2px hsla(0, 0%, 3%, 0.395);
  padding: 0.5em;
  cursor: pointer;
}

button:hover:not(#dropdown-btn) {
  background-color: hsl(349, 50%, 50%);
  transition: 200ms ease-in-out;
}

button:active:not(#dropdown-btn) {
  transition: 100ms ease-in;
  box-shadow: none;
  background-color: hsl(349, 50%, 42%);
  box-shadow: inset 0px 2px 2px hsla(0, 0%, 3%, 0.395);
}

.flex-container-horizontal {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.flex-container-vertical {
  display: flex;
  flex-direction: column;
}

.flex-item {
  flex-shrink: 1;
  max-width: 270px;
  padding: 2rem;
  padding-top: 0.5rem;
}

.flex-container-vertical > button {
  align-self: center;
  margin-top: auto;
}

.arrow {
  display: inline;
}

footer {
  bottom: 0;
  width: 100%;
  padding: 1rem;
  opacity: 0.8;
  background-color: hsla(206, 53%, 13%, 0.9);
}

/* 
==========================
Animations
==========================
*/

@keyframes rollIn {
  0% {
    opacity: 0%;
    right: -200px;
  }
  100% {
    opacity: 100%;
    right: 0;
  }
}

/* 
==========================
Module styles
> Navigation
==========================
*/

.dropdown {
  position: relative;
  display: inline-block;
}

#dropdown-btn {
  cursor: pointer;
  padding: 0.8rem 0;
}

.dropdown-content {
  display: none;
  z-index: 1;
  position: absolute;
  background-color: hsl(206, 53%, 23%);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  display: block;
  padding: 1em 1em;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: hsl(206, 53%, 42%);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  animation: rollIn 0.8s ease-out forwards;
  transition: 0.3s ease-in-out;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover #dropdown-btn {
  transition: 200ms ease-in-out;
  color: hsl(349, 50%, 42%);
}

#logo {
  font-weight: bold;
  letter-spacing: 0.2em;
}

/* 
==========================
Module styles
> Header
==========================
*/
header {
  position: relative;
  padding-top: 1rem;
  margin: 0 auto;
  width: 50%;
  display: grid;
  justify-items: start;
  grid-template-columns: 1fr 1fr 4fr;
  grid-template-rows: 3fr 2fr 1fr;
  gap: 1rem;
}

header > h1 {
  z-index: 1;
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  align-self: center;
  width: fit-content;
  padding: 0 0.5em;
  margin: 0;
  font-size: 3rem;
  transform: rotate(-3deg);
  color: hsla(57, 95%, 90%, 1);
  text-shadow: 2px 2px 4px hsla(0, 0%, 3%, 0.395);
}

header > .img {
  z-index: 3;
  background: url("../images/profile-picture.jpg");
  width: 250px;
  height: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  border-radius: 50%;
  margin-top: 3%;
  box-shadow: 2px 2px 5px hsla(0, 0%, 3%, 0.395);
}

header > p {
  z-index: 3;
  grid-column: 3 / span 1;
  grid-row: 2 / span 2;
  align-self: top;
  padding-top: 3%;
  margin: 0 auto;
}

header > .bg {
  z-index: 1;
  width: 100%;
  height: 100%;
  grid-column: 1 / span 3;
  grid-row: 2 / span 2;
  background-color: rgba(240, 248, 255, 0.075);
  background: linear-gradient(
    to left,
    hsla(208, 100%, 97%, 0),
    hsla(208, 100%, 97%, 0.1),
    hsla(208, 100%, 97%, 0)
  );
}

.link-icon {
  filter: drop-shadow(2px 2px 2px hsla(0, 0%, 3%, 0.395));
}

#my-github {
  z-index: 3;
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
  justify-self: end;
  align-self: top;
}

#my-linkedin {
  z-index: 3;
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  justify-self: start;
  align-self: top;
}

.link-icon:hover {
  transition: 200ms ease-in-out;
  color: hsl(349, 50%, 42%);
}

.link-icon:active {
  filter: drop-shadow(0 0 0 transparent);
}

/* 
==========================
Module styles
> Sections
==========================
*/
section {
  background: linear-gradient(
    to left,
    hsla(208, 100%, 97%, 0),
    hsla(208, 100%, 97%, 0.1),
    hsla(208, 100%, 97%, 0)
  );
}

.expendable {
  display: none;
}

h2 {
  display: inline-block;
}

.arrow {
  display: inline-block;
  content: "";
  border: solid hsla(57, 95%, 90%, 1);
  filter: drop-shadow(5px 5px 5px hsla(0, 0%, 3%, 0.549));
  height: 0.7rem;
  width: 0.7rem;
  border-width: 0 0.5rem 0.5rem 0;
  padding: 0.1rem;
  margin-right: 0.5rem;
  /* transform: rotate(-45deg); */
  /* -webkit-transform: rotate(-45deg); */
  transition: transform 200ms ease-in-out;
  cursor: pointer;
}

.arrow:hover {
  transition: transform 200ms ease-in-out;
  /* transform: rotate(45deg); */
  /* -webkit-transform: rotate(45deg); */
}

article > img {
  max-width: 250px;
  box-shadow: 2px 2px 3px hsla(0, 0%, 3%, 0.549);
}

article > img {
  filter: grayscale(0.5);
}

article > img:hover {
  transition: 200ms ease-in;
  filter: grayscale(0);
}

article > p {
  /* display: none; */
  opacity: 0.8;
}

#projects article > h3 {
  transform: rotate(-2deg);
}

/* 
==========================
Module styles
> Projects
==========================
*/

/* 
==========================
Animations
==========================
*/

/* @keyframes rolldown {
  0% {

  }
  100% {
  }
} */

/* .dropdown:hover .dropdown-content {
  animation: rolldown 2s;
} */

@media screen and (max-width: 750px) {
  header {
    width: 90%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
    justify-items: center;
    /* align-content: center; */
    /* justify-content: center; */
    /* align-content: center; */
  }

  header > h1 {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    font-size: 3rem;
  }

  header > .img {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
  }

  header > p {
    grid-column: 1 / span 2;
    grid-row: 4 / span 1;
  }

  header > .bg {
    grid-column: 1 / span 2;
    grid-row: 2 / span 3;
  }

  #my-github {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    justify-self: start;
    align-self: flex-end;
  }

  #my-linkedin {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    justify-self: start;
    align-self: flex-start;
  }
}
