/*
1. Global styles
2. Reset
3. Typography styles
4. Stractural styles
5. Module styles
    5.1. Navigation
    5.2. Header
    5.3. Footer
    5.4. Projects

Color scheme
dark: hsla(206, 52%, 15%, 1);
    #12293b
light: hsla(57, 88%, 86%, 1);
    #fbf8bc
accent options:
#871C30
#3B121A
#236A87
*/

/* 
==========================
Global styles
==========================
*/
html {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: hsl(206, 53%, 15%);
  color: hsl(57, 89%, 86%);
}

/* 
==========================
Reset
==========================
*/
a,
ul,
li,
button {
  all: unset;
}

/* 
==========================
Typography styles
==========================
*/

/* 
==========================
Stractural styles
==========================
*/

nav {
  display: flex;
  position: fixed;
  width: 100%;
  background-color: hsla(206, 53%, 15%, 0.9);
  justify-content: space-between;
  align-items: center;
}

.dropdown,
#logo {
  margin: 0 1.5rem;
}

/* 
==========================
Module styles
> Navigation
==========================
*/

@keyframes rollIn {
  0% {
    opacity: 0%;
    right: -200px;
  }
  100% {
    opacity: 100%;
    right: 0;
  }
}

#dropdown-btn {
  cursor: pointer;
  padding: 0.8rem 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: block;
  position: absolute;
  z-index: 1;
  right: -200px;
  background-color: hsl(206, 53%, 23%);
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  display: block;
  padding: 1em 1em;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: hsl(206, 53%, 42%);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content,
.dropdown:hover a {
  animation: rollIn 0.8s ease-out forwards;
  transition: 0.3s ease-in-out;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: hsl(206, 53%, 42%);
}

/* 
==========================
Module styles
> Header
==========================
*/

/* 
==========================
Module styles
> Footer
==========================
*/

/* 
==========================
Module styles
> Projects
==========================
*/

/* 
==========================
Animations
==========================
*/

/* @keyframes rolldown {
  0% {

  }
  100% {
  }
} */

/* .dropdown:hover .dropdown-content {
  animation: rolldown 2s;
} */
